html {
    height: 100%;
    margin:0;
    padding:0;
}
body{
    height:100%;
    background-image: linear-gradient(#00387f,#002861, #000000);

    color: #ffffff;

}

p {
    font-size:17px;
}
h1 {
    font-weight: 300;
    font-size: 2.2rem;
}
h2 {
    font-size:1.8rem;
}
h3 {
    font-size: 1.4rem;
}

a {
    color: #7cdef5;
}
a:hover {
    color: #a6ff00;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    padding:30px 40px;
}

.karma {
    font-size: 11px;
    font-weight: 600;
    position:fixed;
    bottom:18px;
    left: 50%;
}

#birds{
    height:100%;
}
